// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

html {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;

    @media screen and (max-width: 768px) {
        font-size: 12px;
        line-height: 1.1;
    }

    * {
        box-sizing: border-box;
        outline: none !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li,
    a {
        margin: 0;
        padding: 0;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

    }

    a {
        text-decoration: none;
    }
}